nav {

    position: fixed;
    top: 0px;
    z-index: 2;

    display: grid;
    grid-template-columns: 25% auto;

    height: 5em;
    width: 100%;

    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
}

.page-ident {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-ident a {
    text-decoration: none;
}

.logo-icon {
    color: blue;
    margin-right: 1.5em;
}

.page-title {
    font-family:'Source Sans 3';
    color: black;
    font-size: 1.6em;
}

.page-title strong {
    font-weight: 800;
    color: blue;
}

.search-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.search-container form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#search-input {
    position: relative;
    margin-right: 1em;
    padding: 0px 10px;

    width: 50%;
    height: 3em;

    border: 1.5px grey solid;
    border-radius: 10px;


}

#search-input:focus {
    outline: 2px blue solid;
}

.search-btn {
    width: 3em;
    border-radius: 100%;

    border: 1.5px blue solid;
    background-color: blue;
    color: white;
}

.search-btn svg {
    width: 16px;
    height: 16px;
}

@media screen and (max-width:900px) {
    nav {

    position: fixed;
    top: 0px;

    padding: 0.5em;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

    height: 6em;
    width: 100%;
}

.page-ident {
    justify-items: center;
    width: 100%;
}

.search-container {

    grid-row: 2 / span 1;

}

#search-input {
    height: 2em;
}

#search-input:focus {
    outline: 1px blue solid;
}

.search-btn {
    width: 2em;
}

.search-btn svg {
    width: 12px;
    height: 12px;
}

}