.sidebar-container {
    grid-column: 1 / span 1;
    padding: 1.2em;

    z-index: 2;
}

.sidebar-shape li {

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1em;

    height: 3em;
    
    border: 2px blue solid;
    border-radius: 5px;
}

.sidebar-shape li a {

    display:flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 3em;

    color: black;
    text-decoration: none;

    border-radius: 5px;

}

.sidebar-shape li a.active {

    color: white;
    background-color: blue;

}

.sidebar-shape li:hover {

    background-color: rgba(0, 0, 255, 0.1);
    cursor: pointer;
}

.sidebar-shape li:first-child {
    margin: 0 auto;
    margin-bottom: 1em;
}

.sidebar-dropdown {
    display: none;
}

.dropdown-trigger {
    display: none;
}

@media screen and (max-width:900px) {

    .sidebar-container {

        display: none;

    }

    .sidebar-dropdown {

        display: block;
        top: 6em;

        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

.sidebar-dropdown a {

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;

    height: 2em;
    
    border: 1px blue solid;
    border-bottom: 0px;

    color: black;
    text-decoration: none;
}

.sidebar-dropdown li:hover {

    background-color: rgba(0, 0, 255, 0.1);
    cursor: pointer;
}

.sidebar-dropdown li:last-child {

    border-bottom: 1px blue solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.dropdown-trigger {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1em auto;
    margin-bottom: 0px;

    height: 3em;
    
    background-color: blue;
    color: white;
    border: 2px blue solid;
    border-radius: 5px;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.dropdown-trigger:hover {

    background-color: rgb(0, 0, 163);
    cursor: pointer;
}

.dropdown-trigger svg {
margin-left: 0.3em;
}

}